extends layout

block content
  h1= title
  p Welcome to #[em #{title}]
  
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST' action='/home')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email' required='true')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password' required='true')
          button.btn.btn-primary(type='submit') Log in 
          
  p
    br
    a(href='/signup') New User? Register Here!!
